fastapi
uvicorn[standard]
sqlalchemy[asyncio]
# sqlite driver is used for local development
aiosqlite
pydantic
pydantic-settings
passlib[bcrypt]
python-multipart
email-validator
python-dotenv
PyJWT
pytest
pytest-asyncio
httpx